#main {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/background/background.png');
}

#shop {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/shop.png');
}

#friends {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/friends.png');
}

#leaderboard {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/leaderboard.png');
}

#infinity_mode {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/infinity_mode.png');
}

#level {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/level.png');
}

#settings {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/settings.png');
}

#avatar {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/avatars/gg.png');
}

#auth {
    -fx-background-color: white;
}