#main {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/background/background.png');
}

#shop {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/shop.png');
}

#menu {
    -fx-background-color: royalblue;
}

#friends {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/friends.png');
}

#leaderboard {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/leaderboard.png');
}

#infinity_mode {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/infinity_mode.png');
}

#level {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/level.png');
}

#settings {
    -fx-background-color: transparent;
    -fx-background-size: 120 120;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/icons/settings.png');
}

#avatar {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/avatars/gg.png');
}

#hp {
    -fx-accent: royalblue;
}

#shop_pane {
    -fx-background-color: #365c88;
}

#friends_menu {
    -fx-background-color: #365c88;
}

#auth {
    -fx-background-color: #658bfc;
}

#weapon1_icon {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/weapons/1.png');
}

#weapon2_icon {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/weapons/2.png');
}

#item1_icon {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/items/1.png');
}

#item2_icon {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/items/2.png');
}

#item3_icon {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/items/3.png');
}

.progress-bar .bar {
    -fx-background-radius: 20;
}
.progress-bar .track {
    -fx-background-radius: 20;
}

.progress-bar {
    -fx-background-radius: 20;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: #ffffff;
}

.tab-pane {
    -fx-tab-min-width: 90px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
    -fx-padding: -5 -1 -1 -1;
}

.tab {
    -fx-pref-width: 270;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-padding: 0;
}

.tab-pane .tab:selected {
    -fx-background-color: #284269;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 250;
    -fx-text-fill: #828282;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.login-logo {
	-fx-background-image: url('../images/background/login_field.png');
    -fx-prompt-text-fill: #e2e2e2;
}

.password-logo {
	-fx-background-image: url('../images/background/password_field.png');
    -fx-prompt-text-fill: #e2e2e2;
}

.search-friends {
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #e2e2e2;
    -fx-background-image: url('../images/background/search_field1.png');
}

#friends_header {
    -fx-background-color: royalblue;
}

#profile_pic {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../images/avatars/profile.png');
}

.button1 {
    -fx-text-fill: #ffffff;
    -fx-background-color: royalblue;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#item_price {
	-fx-background-color: transparent;
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
	-fx-background-image: url('../images/icons/coin.png');
}

#item_count {
	-fx-background-color: transparent;
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
	-fx-background-image: url('../images/icons/count.png');
}

